input {
	file {
    	path => "D:/Programming/DW/ELKStack/gateway.log"
    	start_position => "beginning"
    }
}
filter {
  	grok {
      	match => { "message" => "%{SYSLOGBASE}%{GREEDYDATA}(?<Status>ACCEPT|DROP)%{GREEDYDATA}(?<InputPacketSource> IN=br0 OUT=eth1|IN=eth1 OUT=)%{GREEDYDATA}(?<MAC>%{CISCOMAC}|%{WINDOWSMAC}|%{COMMONMAC})%{GREEDYDATA}(?<SRC>%{IP})%{GREEDYDATA}(?<DST>%{IP})%{DATA}(%{BASE10NUM:SLEN})%{GREEDYDATA}TTL\s*=\s*%{BASE10NUM:TTL}%{GREEDYDATA}PROTO\s*=\s*%{WORD:PROTO}%{GREEDYDATA}(LEN\s*=\s*%{BASE10NUM:PLEN}|0)"}
    }
	
	geoip {
		source => "DST"
		target => "dst_geoip"
	}
}
output {
	elasticsearch{
		hosts => ["localhost:9200"]
		index => "maaz_12407"
	}
	stdout{
		codec => rubydebug 
	}
}